.container {
  margin-top: 56px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 16px;
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  gap: 20px;
  min-height: calc(100vh - 56px);
}

.sidebar {
  grid-column: 1;
}

.right-sidebar {
  grid-column: 3;
}

